{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}
View Appointments
{% endblock %}

{% block page_panel %}
<div class="col-xs-offset-1 col-xs-10">
    <div class="panel panel-default">
        <div class="panel-heading">My Appointments</div>
        <div class="panel-body">
            <p>Regularly check the status of your appointment.</p>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Pet Name</th>
                <th>Doctor's Name</th>
                <th>Schedule</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ appointment.pet_name.name }}</td>
                    <td>{{ appointment.veterinary_physician }}</td>
                    <td>{{ appointment.visit_schedule|date:'DATETIME_FORMAT' }}</td>
                    {% if appointment.is_confirmed %}
                    <td>Confirmed</td>
                    {% else %}
                    <td>Waiting Confirmation</td>
                    {% endif %}
                </tr>
                {% empty %}
                No Appointments yet. Click <a href="{% url 'appointments:add_appointment' %}">here</a> to schedule
                an appointment.
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}